{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block blog %}
    <div class="container mt-2 mx-auto bg-light">
        <div class="card my-1 mx-auto" style="max-width: 540px;">
            <img src="{{post_object.image}}" class="img-fluid" alt="{{post_object.title}}">
            <div class="card-body">
                <h5 class="card-title">{{post_object.title}}</h5>
                <p class="card-text">{{post_object.content}} </p>
                <p class="card-text"><small class="text-muted">{{post_object.last_updated}} </small></p>
            </div>
        </div>
                <div class="container w-50">
            <form action="{% url 'blog:like' post_object.slug %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="post">
                <input type="hidden" name="user">
                <button type="submit" class="btn-close-white"><i class="fa-regular fa-heart"></i></button> {{post_object.like_count}}
            </form>
        </div>
        <div class="container w-50">
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
            <button type="submit" class="btn btn-success my-3">Give a Comment</button>
            </form>
        </div>
        {% for comment in post_object.comments %}
        <div class="container w-50 border-bottom my-2">
            <h6>Comment by {{comment.user}} at {{comment.time_stamp|timesince}} ago</h6>
            <p>{{comment.content}} </p>              
        </div>
        {% endfor %}
        {% if request.user == post_object.author %}
        <div class="container text-center">
            <a href="{% url 'blog:delete' post_object.slug %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'blog:update' post_object.slug %}" class="btn btn-success">Update</a>
        </div>
        {% endif %}
    </div>
{% endblock blog %}