{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block blog %}
    <div class=" container row mt-2 mx-auto bg-light">
        <div class="card my-1 mx-auto" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="{{blogpost.image}}" class="img-fluid" alt="{{blogpost.title}}">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{blogpost.title}}</h5>
                    <p class="card-text">{{blogpost.content}} </p>
                    <p class="card-text"><small class="text-muted">{{blogpost.last_updated}} </small></p>
                </div>
                </div>
            </div>
        </div>
    <div class="col-md-6 offset-md-3">
        <form action="" method="post" class='p-4'>
            {% csrf_token %} 
            {{comment_form|crispy}}
            <button type="submit" class="btn btn-success my-3">Send Comment</button>
        </form>
    </div>
    <div class="container">
        <ul>
            
            {% for comment in comment_post %}
                <li>
                    <p>Added by {{comment.post_user}}</p>
                    {{comment.content}}
                </li>
            {% endfor %}
                
        </ul>
    </div>
</div>
{% endblock blog %}