{% extends 'base.html' %} 
{% block blog %} 
{% comment %} {{blogs}} {% endcomment %}
<div class="container d-flex flex-wrap gap-5 my-3">
        {% for blog in blogs %}
            <div class="card" style="width: 18rem;">
                <img width='200' src="{{blog.image}}" class="card-img-top" alt="{{blog.title}}" />
                <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    <p class="card-text">
                        {{blog.content|truncatechars:200}}
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{blog.last_updated}} </small>
                </div>
                <div>
                    <div>
                        <a href="" class="btn btn-primary">Detail</a>
                    </div>
                    <i class="fa-regular fa-heart" title='Click for Like'></i>
                    <i class="fa-regular fa-message" title='Click to Add Comment'></i>
                </div>
            </div>
        {% endfor %}
</div>
{% endblock blog %}
