{% extends 'base.html' %} 
{% load static %}

{% block blog %} 
{% comment %} {{blogs}} {% endcomment %}
<div class="container d-flex flex-wrap justify-content-center gap-5 my-3">
    {% if blogs %}       
        {% for blogpost in blogs %}
            <div class="card" style="width: 18rem;">
                    <img src="{{blogpost.image}}" class="card-img-top img-fluid h-50" alt="{{blogpost.title}}" />
                <div class="card-body">  
                        <a href="{% url 'blog:detail' blogpost.slug %}" class='text-decoration-none'><h5 class="card-title">{{blogpost.title}}</h5></a>                      
                    <p class="card-text">
                        {{blogpost.content|truncatechars:200}}
                    </p>
                </div>
                <div class='d-flex justify-content-evenly w-50'>
                    <div title='Click for Like'>
                        <i class="fa-regular fa-heart" ></i> <span class='like-click'>{{blogpost.like_count}}</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-eye"></i> <span class='seen-click'>{{blogpost.view_count}}</span>
                    </div>
                    <div title='Click to Add Comment'>
                        <i class="fa-regular fa-message" ></i> <span class='comment-click'>{{blogpost.comment_count}}</span>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated {{blogpost.last_updated|timesince}} ago</small>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="container">
        <h1>Any Post not exist to show !!!</h1>
    </div>
    
    {% endif %}
</div>
{% endblock blog %}
{% block js_files %}
<script src="{% static 'blog/script/app.js' %} "></script>
{% endblock js_files %} 