{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block blog %}
    <div class=" container row mt-2 mx-auto bg-light">
        <form method="post" enctype='multipart/form-data' class='p-4'>
            {% csrf_token %} 
            {{update_form|crispy}}
            <button type="submit" class="btn btn-success my-3">Update</button>
        </form>
    </div>
</div>
{% endblock blog %}

{% comment %} {% block js_files %}
<script src="{% static 'blog/script/app.js' %} "></script>
{% endblock js_files %}  {% endcomment %}