{% extends 'base.html' %}

{% block blog %}

{% load crispy_forms_tags %}   

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Please Login</h3>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %} 
            {{form.as_p}}
            {% comment %} {{form|crispy}} {% endcomment %}
            <button type="submit" class="btn btn-success">Login</button> <a href="">Forgat Password</a>
        </form>

        <div class='mt-3'>
            Need an account? <a href="{% url 'register' %} " class='text-decoration-none'>Sign Up Now</a>
        </div>
    </div>
</div>
{% endblock blog %}
    