{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block blog %}

{% if user %}
    <div class=" container row mt-2 mx-auto bg-light">
    <div class="media">
        <img class="rounded-circle account-img" src="{{user.profile_pic}}" alt="{{user.username}}">
        <div class="media-body">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
             <div>
                <h5>If you want to change password <a href="{% url 'password_change' %}">Click here</a> 👈🏻</h5>
             </div>
        </div>
    </div>
    {% comment %} <div class="col card my-1">
        <img src="{{user.image}}" alt="{{user.username}}" class="class="rounded-circle account-img"">
        <h2>{{user.username}} </h2>
    </div> {% endcomment %}
    <div class="col-md-6 offset-md-3">
        <form action="" method="post" class='p-4'>
            {% csrf_token %} 
            {{crispy}}
            {{form.username}}
            {{form.email}}
            {{form.profile_pic}}
            {{form.bio}}

            <button type="submit" class="btn btn-success mb-3">Update</button>
        </form>
    </div>
</div>
{% else %}
    <div class="container">
        <h1>User not found</h1>
    </div>
{% endif %}
    

{% endblock blog %}