{% extends 'base.html' %}

{% block blog %}
<div class=" container row mx-5 bg-info">
    <div class="col-md-6 offset-md-3 mx-4">
        <form action="{% url 'register' %}" method="post" class='p-4'>
            {% csrf_token %} 
            {{user_form.as_p}}
            {% comment %} {{form|crispy}} {% endcomment %}
            <button type="submit" class="btn btn-success mb-3">Register</button>
        </form>
         <div class='m-3'>
            Already have an account ? <a href="{% url 'login' %} " class='text-decoration-none'>Sign in</a>
        </div>
    </div>
</div>
{% endblock blog %}
    